/**
 * Ejemplo completo, con colores y reglas-@.
 *
 */

@document url(http://www.w3.org/),
          url-prefix(http://www.w3.org/Style/),
          domain(mozilla.org),
          regexp("https:.*") {
  /* Make the above-mentioned pages really ugly */
  body {
    color: purple;
    background: yellow;
  }
}

/* Table Color */
th {
  background-color: #FFA500; /*Orange*/
  color: yellow;	
}

/* Title 1 */
h1 {
  font-size: 36px;
  background-color: #000; /*Black*/
  color: hsl(0, 0%, 100%); /*White*/
  font-family: 'Open Sans';
}

/* Paragraph Style*/
p {
  font-family: 'Open Sans';
  font-size: 14px;
  color: rgb(0, 128, 0); /*Green*/
  line-height: 18px;
  margin-bottom: 20px;
}

/* Date Style */
.date {
  background-color: yellow; 
  color: hsl(0, 0%, 100%) /*White*/
  border-spacing : 0;
}
