/**
 * Ejemplo más completo sobre el uso de colores.
 *
 */

/* Table Color */
th {
  background-color: #008000; /*Green*/
  color: white;	
}

/* Title 1 */
h1 {
  font-size: 36px;
  color: #000;	/*Dark*/
  font-family: 'Open Sans';
}

/* Boton Style */
boton {
  background-color: #ccc; /*Gray*/
  color: rgba(0, 0, 255, 100%); /*Blue*/
  width: 100px;
  padding: 20px;
  border: 5px solid hsla(240, 100%, 50%, 100%); /*Blue*/
  border-radius: 5px;
}

/* Paragraph Style*/
p {
  font-family: 'Open Sans';
  font-size: 14px;
  color: rgb(0, 128, 0); /*Green*/
  line-height: 18px;
  margin-bottom: 20px;
}

/* Date Style */
.date {
font-size: 36px;
color: hsl(0, 0%, 100%); /*White*/
}
